$background-color: #FBF2C0;
$foreground-color: #544343;
$primary-color: #544343;
$border-color: #56282D;
$primary-color-muted: #aaa;
$highlight-color: #E1CE7A; //#ff4500
$highlight-color-muted: #E1CE7A;
$highlight-color-contrast: #773344;

$default-maxwidth: 600px;
$first-break-maxwidth: 500px;
$second-break-maxwidth: 300px;
$third-break-maxwidth: 200px;

$spacing: 12px;

$border-radius: 4px;

$font-size: 16px;

$box-shadow: 0 2px 6px rgba(0,0,0,0.06), 0 2px 4px rgba(0,0,0,0.12);

$highlight-border: 1px solid rgba($color: $highlight-color-muted, $alpha: 0.4);
$highlight-box-shadow: 0 0 12px rgba($color: $highlight-color-muted, $alpha: 0.2) inset;

html, body {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif";
  background-color: $background-color;
  color: $primary-color;
  font-size: $font-size;
}

::selection {
  background: $highlight-color; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $highlight-color; /* Gecko Browsers */
}



.nav {
  width: 100%;
  height: $spacing * 5;
  display: flex;
  justify-content: center;
  background-color: $foreground-color;
  border-bottom: 2px solid $border-color;
  //box-shadow: $box-shadow;


  ul {
    max-width: $default-maxwidth;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin:0;
    padding: 0;

    list-style-type: none;
    
    a {
      text-decoration: none;
      color: $highlight-color;
      li {
        text-decoration: none;
        p {
          font-weight: 500;
          font-size: 20px;
          text-decoration: none;
        }
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;

  .sub-main {
    max-width: $default-maxwidth;
    padding: $spacing;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
      display: flex;

      .image-container {    
        max-width: 30%;
        margin: 0;
        box-sizing: border-box;
  
        img {
          border-radius: 100%;
          padding: $spacing;
          width: 100%;
          position: relative;
          top: $spacing;
        }
      }
    }
  }
}

.project-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $spacing 0;

  img {
    width: $spacing * 10;
    padding: $spacing;
    margin: $spacing;
    border-radius: 100%;
  }

  .project-header {
    padding: $spacing;
    &:hover {
      color: $border-color;
      cursor: pointer;
    }

    a {
      color: $primary-color;
      text-decoration: none;
      font-size: 1rem;

      &:hover {
        color: $highlight-color-contrast;
        cursor: pointer;
      }
    }

    small {
      color: $highlight-color;
      font-family: "Slabo 27px";
      font-size: 0.9rem;
    }

  }
}

table {
  tr {

    &:first-child{
      padding-right: $spacing / 2;
      
      td{
        min-width: $spacing * 5;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .main .sub-main, .main .sub-main .content, .nav ul {
    max-width: $first-break-maxwidth;
  }

  .content > div {
    text-align: center;
  }

  iframe {
    max-width: $first-break-maxwidth;
    max-height: $first-break-maxwidth / 1.78;
  }

  .project-post {
    flex-direction: column;

    .project-header {
      text-align: center;
      padding: $spacing / 2;
    }
  }

  @media only screen and (max-width: 600px) {
    .main .sub-main, .main .sub-main .content, .nav ul {
      max-width: none;     
    }

    .header {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    iframe {
      max-width: $second-break-maxwidth;
      max-height: $second-break-maxwidth / 1.78;
    }

    @media only screen and (max-width: 350px) {
      iframe {
        max-width: $third-break-maxwidth;
        max-height: $third-break-maxwidth / 1.78;
      }
    }
  }
}

h1, h3 {
  font-family: "Slabo 27px";

}

h1 {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 400;
}

h3 {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  font-weight: 700;
}

p {
  line-height: 1.5rem;
}



a {
  font-family: "Slabo 27px";
  font-size: 1.15rem;
  
  color: $highlight-color-contrast;
  letter-spacing: 0.5px;

  transition: all 0.2s;
  &:hover {
    text-decoration: none;
    color: $highlight-color;
  }
}

iframe {
  width: $default-maxwidth;
  height: $default-maxwidth / 1.78;
  padding: $spacing 0;
}
